html,
body {
  background-color: rgb(209, 155, 89);
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Chivo Mono", monospace;
}
:root {
  --r: 30px;
  --g: #0000 98%, #000;
}
/* Imagem de fundo do projeto */
body {
  background-image: url("https://images.unsplash.com/photo-1549534077-1b4f31dd59ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2052&q=80");
  background-position: center;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* justify-content: space-between = coloca os botões nas extremidades deixando o espaço que sobre entre os elementos */
.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
#checkEntrance {
  background-color: tomato;
  color: white;
  width: 80px;
}

input,
button {
  border: none;
  outline: none;
  background-color: inherit;
}
input {
  border-bottom: 1px solid black;
}
button {
  padding: 1rem;
}
#reset {
  background-color: rgba(22, 19, 19, 0.83);
  color: white;
}
.showTxt h2 {
  padding: 1rem 0;
  font-family: "Lobster", cursive;
}
.ticket {
    position: relative;
    box-sizing: border-box;
    max-width: 390px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #fbfbfb;
    box-shadow: 2px 2px 15px 0px #2a2925;
    opacity: .9;
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 5px;
      height: 6px;
      max-width: 390px;
      width: calc(100% - 10px);
    }
  
    &:before {
      top: -5px;
      background: radial-gradient(
          circle,
          transparent,
          transparent 50%,
          #fbfbfb 50%,
          #fbfbfb 100%
        ) -7px -8px / 16px 16px repeat-x;
    }
  
    &:after {
      bottom: -5px;
      background: radial-gradient(
          circle,
          transparent,
          transparent 50%,
          #fbfbfb 50%,
          #fbfbfb 100%
        ) -7px -2px / 16px 16px repeat-x;
    }
  }
